<div class="container">
  <div class="row">
    <div class="col col-md-4 col-md-offset-4">
      <div class="well">
        <!--render from Form Partials-->
        <% if params[:plan] == '3' %>
          <%= render "pro_form" %>
        <% elsif params[:plan] == '2' %>
          <%= render "builder_form" %>
        <% else %>
          <%= render "basic_form" %>
        <% end %>
        
        <!--links to the sign-in form-->
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>